<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Base de Datos</title>
    <link rel="icon" type="image/png" href="mascotas.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>


        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-size: 18px;
        }

        .mytopnav {
            overflow: hidden;
            text-align: center;
        }

            .mytopnav ul {
                display: inline-flex;
                color: #ffffff;
                list-style: none;
            }

                .mytopnav ul li {
                    width: 120px;
                    margin: 15px;
                    padding: 15px;
                }

                    .mytopnav ul li a {
                        text-decoration: none;
                        color: #ffffff;
                    }

                    .active, .mytopnav ul li:hover {
                        background: rgba(75,75,75,0.9);
                        border-radius: 3px;
                    }

            .mytopnav .fa {
                margin-right: 8px;
            }

        .submenu_1 {
            display: none;
        }

        .mytopnav ul li:hover .submenu_1 {
            display: block;
            position: absolute;
            background: rgba(85,85,85,0.9);
            margin-top: 15px;
            margin-bottom: -15px;
        }

            .mytopnav ul li:hover .submenu_1 ul {
                display: block;
                margin: 10px;
            }

                .mytopnav ul li:hover .submenu_1 ul li {
                    width: 150px;
                    padding: 10px;
                    border-bottom: 1px ridge #fff;
                    background: transparent;
                    border-radius: 0;
                    text-align: left;
                }

                    .mytopnav ul li:hover .submenu_1 ul li:last-child {
                        border-bottom: none;
                    }

                    .mytopnav ul li:hover .submenu_1 ul li a:hover {
                        color: #999595;
                    }

        .fa-angle-right {
            float: right;
        }

        .fa fa-user .fa-car .fa-bars .fa-home {
            float: left;
        }

        .submenu_2 {
            display: none;
        }

        .hover-me:hover .submenu_2 {
            position: absolute;
            display: block;
            margin-top: -40px;
            margin-left: 140px;
            background: rgba(95,95,95,0.9);
        }

            .hover-me:hover .submenu_2 ul {
                border-bottom: 1px ridge #fff;
            }

                .hover-me:hover .submenu_2 ul:last-child {
                    border-bottom: none;
                }

        #mySidenav a {
            position: absolute; 
            left: -80px; /* Position them outside of the screen */
            transition: 0.3s; /* Add transition on hover */
            padding: 15px; /* 15px padding */
            width: 130px; /* Set a specific width */
            text-decoration: none; /* Remove underline */
            font-size: 20px; /* Increase font size */
            color: white; /* White text color */
            border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
        }
        

       

            #mySidenav a:hover {
                left: 0; /* On mouse-over, make the elements appear as they should */
            }

        /* The about link: 20px from the top with a green background */
        #about {
            top: 200px;
            background-color: #68829C;
        }

        #contact {
            top: 260px;
            background-color: #bdc8d4 /* Light Black */
        }
    </style>
</head>
<body class="home">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="mytopnav" id="myTopnav">
                <ul>
                    <li><a><i class="fa fa-home"></i>@Html.ActionLink("Inicio", "Index", "Home") </a></li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>Cliente</a>
                        <div class="submenu_1">
                            <ul>
                                <li class="hover-me">
                                    <a>Agregar <i class="fa fa-angle-right"></i></a>
                                    <div class="submenu_2">
                                        <ul>
                                            <li><a>@Html.ActionLink("Persona", "Create", "Personas") </a></li>
                                        </ul>
                                        <ul>
                                            <li><a>@Html.ActionLink("Organización", "Create", "Organizacions") </a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="hover-me">
                                    <a>Modificar <i class="fa fa-angle-right"></i></a>
                                    <div class="submenu_2">
                                        <ul>
                                            <li><a>@Html.ActionLink("Persona", "EditarMenu", "Personas") </a></li>
                                        </ul>
                                        <ul>
                                            <li><a>@Html.ActionLink("Organización", "EditarMenu", "Organizacions") </a></li>
                                        </ul>

                                    </div>
                                </li>
                                <li class="hover-me">
                                    <a>Suspender <i class="fa fa-angle-right"></i></a>
                                    <div class="submenu_2">
                                        <ul>
                                            <li><a>@Html.ActionLink("Persona", "Suspender", "Personas") </a></li>
                                        </ul>
                                        <ul>
                                            <li><a>@Html.ActionLink("Organización", "Suspender", "Organizacions") </a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="hover-me">
                                    <a>Listado <i class="fa fa-angle-right"></i></a>
                                    <div class="submenu_2">
                                        <ul>
                                            <li><a>@Html.ActionLink("Personas", "Index", "Personas") </a></li>
                                        </ul>
                                        <ul>
                                            <li><a>@Html.ActionLink("Organizaciones", "Index", "Organizacions") </a></li>
                                        </ul>
                                        <ul>
                                            <li><a>@Html.ActionLink("Total", "Index", "Clientes") </a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-car"></i>Parte</a>
                        <div class="submenu_1">
                            <ul>
                                <li><a>@Html.ActionLink("Agregar", "Create", "Partes") </a></li>
                                <li><a>@Html.ActionLink("Eliminar", "Eliminar", "Partes") </a></li>
                                <li class="hover-me">
                                    <a href="#">Asociar <i class="fa fa-angle-right"></i></a>
                                    <div class="submenu_2">
                                        <ul>
                                            <li><a>@Html.ActionLink("Con proveedores", "Create", "Proveidas_por") </a></li>
                                        </ul>
                                        <ul>
                                            <li><a>@Html.ActionLink("Con tipos de automóvil", "Create", "Para_un") </a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a>@Html.ActionLink("Actualizar precios", "Edit", "Partes") </a></li>
                                <li class="hover-me">
                                    <a href="#">Listado <i class="fa fa-angle-right"></i></a>
                                    <div class="submenu_2">
                                        <ul>
                                            <li><a>@Html.ActionLink("Por tipo de automóviles", "Create", "Automovils") </a></li>
                                        </ul>
                                        <ul>
                                            <li><a>@Html.ActionLink("De partes", "Index", "Partes") </a></li>
                                        </ul>
                                        <ul>
                                            <li><a>@Html.ActionLink("Con proveedor", "Index", "Proveidas_por") </a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bars"></i>Órden</a>
                        <div class="submenu_1">
                            <ul>
                                <li><a>@Html.ActionLink("Localizar proveedor para una parte", "FindParte", "Ordens") </a></li>
                                <li><a>@Html.ActionLink("Agregar", "Create", "Ordens") </a></li>
                                <li><a>@Html.ActionLink("Asociar con una compra", "Asociar", "Ordens") </a></li>
                                <li><a>@Html.ActionLink("Registro ", "registroOrdenes", "Ordens") </a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="~/Manual de Usuario.pdf" id="about">Manual&nbsp <i class="fa fa-info-circle"></i></a>
        <a href="~/Proyecto_1-Melania_Morales&Paola_Chinchilla.pdf" id="contact">Docu.&nbsp &nbsp &nbsp<i class="fa fa-file-text"></i></a>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>

</html>

